.page .manage-event {
  @include display(flex);
  @include flex-direction(column);

  > header {
    position: static;

    h2 small {
      display: block;
      font-size: $base-font-size;
      font-weight: normal;
    }
  }

  .manage-event-inner {
    @include flex(1);
    position: relative;
    overflow: hidden;
    padding: 0;

    .pages {
      @include position(absolute, 0% null 0% 0%);
      width: 100%;
    }
  }

  .occurrence {
    @include position(absolute, 0% null 0% 0%);
    background: $base-background-color;
    width: 100%;

    .details {
      @include action-list;
    }
  }
}

.my-availability {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  border-bottom: $base-border;

  input[type="radio"] {
    display: none;
  }

  label {
    text-align: center;
    font-weight: normal;
    color: $disabled-font-color;
    @include base-transition(color);
    padding: 1rem 1rem .5rem;
    cursor: pointer;
  }

  small {
    display: block;
    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  :checked + label[data-value="unavailable"] {
    color: $unavailable-color;
  }

  :checked + label[data-value="possible"] {
    color: $possible-color;
  }

  :checked + label[data-value="available"] {
    color: $available-color;
  }
}
