.page .manage-event {
  @include display(flex);
  @include flex-direction(column);

  > header {
    position: static;

    h2 small {
      display: block;
      font-size: $base-font-size;
      font-weight: normal;
    }
  }

  .manage-event-inner {
    @include flex(1);
    position: relative;
    overflow: hidden;
    padding: 0;

    .pages {
      @include position(absolute, 0% null 0% 0%);
      width: 100%;
    }
  }

  .occurrence {
    @include position(absolute, 0% null 0% 0%);
    background: $base-background-color;
    width: 100%;

    .details {
      @include action-list;
    }
  }
}

.my-availability {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  border-bottom: $base-border;

  button {
    text-align: center;
    font-weight: normal;
    color: $disabled-font-color;
    @include base-transition(color);
    padding: 1rem;
    cursor: pointer;
    background: none;
    outline: none;
  }

  i {
    display: block;
    margin-bottom: .5rem;
  }

  small {
    display: block;
    line-height: 1rem;
    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .selected[data-value="unavailable"] {
    color: $unavailable-color;
  }

  .selected[data-value="possible"] {
    color: $possible-color;
  }

  .selected[data-value="available"] {
    color: $available-color;
  }
}

.new-event {
  .date-and-time {
    @include display(flex);

    .date-time-picker {
      @include flex(2);
      &:last-child {
        @include flex(1);
      }
    }
  }

  .repeat-options {
    margin-left: 2.5rem;
    .radio-button-field span {
      margin-bottom: 0;
    }
  }
}
