@mixin material-design-input {
  height: 2rem;
  line-height: 1.75rem;
  margin: 0 0 .5rem;
  font-size: .875rem;
  padding: .125rem 0 .0625rem;
  border-top: none;
  border-left: none;
  border-right: none;
  @include appearance(none);
  border-bottom: .0625rem solid $base-border-color;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  @include transition(border-bottom-color $base-duration $base-timing);

  &:hover:not([readonly]) {
    border-bottom-color: $base-border-color;
  }

  &:focus:not([readonly]) {
    padding-bottom: 0;
    border-bottom-width: .125rem;
    border-bottom-color: $action-color;
    outline: none;
    box-shadow: none;
  }

  &.has-errors {
    input, textarea {
      border-bottom-color: $error-color;
    }
  }
}

@mixin floating-label {
  padding: 2rem 0 0;
  position: relative;

  > label {
    @include position(absolute, 2rem null null 0rem);
    line-height: 2rem;
    vertical-align: middle;
    @include transition(all $base-duration $base-timing);
    font-weight: normal;
    color: $secondary-font-color;

    small {
      font-size: 100%;
      color: $secondary-font-color;
    }
  }

  &.has-value > label,
  > :focus ~ label,
  > :-webkit-autofill ~ label {
    top: 1rem;
    font-size: $small-font-size;
    line-height: 1rem;
  }

  input {
  }

  textarea {
    @include material-design-input;
    line-height: 1.5rem;
    padding-bottom: .5625rem;

    &:focus {
      padding-bottom: .5rem;
    }

    + label {
      top: 1.875rem;
    }
  }
}

@mixin url-field {
  padding: .5rem 0 0;

  .input-group {
    @include display(flex);
    @include flex-direction(row);
    position: relative;
    margin-bottom: .5rem;

    label, input {
      line-height: 2rem;
      vertical-align: middle;
      padding: 0;
      border: 0;
      margin: 0;
      box-shadow: none;
    }

    label {
      color: $secondary-font-color;
      font-weight: normal;
    }

    input {
      @include flex(1);
    }

    hr {
      @include position(absolute, null 0rem 0rem 0rem);
      border: none;
      border-bottom: .0625rem solid $base-border-color;
      margin: 0;
      @include transition(border-color $base-duration $base-timing);
    }

    :focus ~ hr {
      border-bottom: .125rem solid $action-color;
    }
  }

  &.has-errors hr,
  &.has-errors :focus ~ hr {
    border-bottom-color: $error-color;
  }
}

.field {
  #{$all-text-inputs} {
    @include material-design-input;
  }

  &.with-floating-label {
    @include floating-label;
  }

  &.url-field {
    @include url-field;
  }

  .error {
    color: $error-color;
    font-size: $small-font-size;
    line-height: 1rem;
    margin: 0 0 .5rem;
  }
}

p.explanation {
  color: $secondary-font-color;
}

.date-time-picker {
  @include display(flex);
  .field {
    @include flex(1);
  }
}

.checkbox-field,
.radio-button-field {
  label {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: $base-font-color;
  }

  input {
    display: none;
  }

  span {
    display: block;
    padding: .5rem 0 .5rem 2.5rem;
    margin: 0 -.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
    position: relative;
    @include user-select(none);

    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 2.5rem;
      height: 2.5rem;
      padding: .5rem;
      text-align: center;
      line-height: 1em;
      font: normal 1.5rem/1.0 "Material Icons";
      content: "check_box_outline_blank";
      color: $secondary-font-color;
    }
  }

  :checked + span::before {
    color: $action-color;
    content: "check_box";
  }

  input:disabled + span::before { color: $disabled-font-color; }

  input[type="radio"] + span::before {
    content: "radio_button_unchecked";
  }

  input[type="radio"]:checked + span::before {
    content: "radio_button_checked";
  }
}

.calendar-picker {
  width: 18.5rem;
  background: $base-background-color;
  border-radius: $base-border-radius;
  box-shadow: 0 .25rem 1rem rgba($black, .25);
  padding: .5rem;

  header {
    @include display(flex);
    @include align-items(center);

    button {
      background: none;
      color: secondary-color();
      padding: .5rem;
      outline: none;
    }

    span {
      @include flex(1);
      text-align: center;
    }

    + section {
      color: disabled-color();
    }
  }

  section {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    font-size: .75rem;

    span {
      @include flex(1 0 percentage(1/7));
      line-height: 1em;
      vertical-align: middle;
      width: 2.5rem;
      height: 2.5rem;
      padding: .875rem;
      text-align: center;
      cursor: pointer;

      @for $i from 1 through 7 {
        &[data-day="#{$i % 7}"] {
          &:first-child { margin-left: ($i - 1) * percentage(1/7); }
          &:last-child { margin-right: (7 - $i) * percentage(1/7); }
        }
      }

      &.today {
        color: $action-color;
        font-weight: bold;
      }

      &.selected {
        background: $action-color;
        color: $white;
        font-weight: bold;
        border-radius: 50%
      }
    }
  }
}
