@mixin header {
  @include position(absolute, 0rem 0rem null 0rem);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(stretch);
  min-height: $header-height;
  z-index: 10;
  background-color: $header-background-color;
  color: $header-color;
  -webkit-font-smoothing: antialiased;

  .header-title {
    @include flex(1);
    @include display(flex);
    @include flex-direction(row);
    @include align-items(flex-start);
    padding: .25rem;
  }

  + div {
    padding: $header-height 1rem 1rem 1rem;
  }

  button,
  .button {
    margin: 0;
    @include flex(0);
    display: block;
    width: 3rem;
    padding: .75rem;
    background: none;
    color: $header-color;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    i {
      display: block;
      width: 1.5rem;
      text-align: center;
    }
  }

  h2 {
    @include ellipsis;
    @include flex(1);
    margin: 0 .25rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: .75rem 0;
    text-align: left;

    &:last-child {
      padding-right: $header-height;
    }
  }
}

@mixin tall-header {
  height: $tall-header-height;

  h2 {
    margin-left: 1.25rem;
    @include align-self(flex-end);
    text-align: left;
  }

  main .page & + div {
    padding-top: $tall-header-height;
  }
}

.header-image {
  @include position(absolute, 0rem 0rem 0rem 0rem);
  overflow: hidden;
  z-index: -1;

  &::before {
    content: "";
    @include position(absolute, 0rem 0rem 0rem 0rem);
    z-index: 1;
    @include linear-gradient(to top, $header-background-color, rgba($header-background-color, 0));
    background-color: transparent;
  }

  &::after {
    content: "";
    @include position(absolute, 0rem 0rem 0rem 0rem);
    background-color: $header-background-color;
    mix-blend-mode: soft-light;
  }

  img {
    @include cropped-image;
  }

  .scrim {
    @include position(absolute, 0rem 0rem 0rem 0rem);
    background-color: $header-background-color;
    opacity: 0;
  }
}
