body {
  overflow: hidden;
  background: $base-background-color;
}

.container {
  @include position(fixed, 0rem 0rem 0rem 0rem);

  .container-inner {
    @include position(absolute, 0rem 0rem 0rem 0rem);
    @include transition-property(transform);
    @include transition-duration(.5s);
    @include transition-timing-function($ease-out-cubic);
  }

  .sidebar-scrim {
    @include position(absolute, 0rem 0rem 0rem 0rem);
    margin: 0;
    z-index: 99;
    background: black;
    pointer-events: none;
    opacity: 0;
    @include transition(opacity 0.5s $base-timing);
  }
}

main {
  @include position(absolute, 0rem 0rem 0rem 0rem);
  overflow: hidden;

  > .page {
    @include position(absolute, 0rem null null 0rem);
    width: 100%;
    height: 100%;

    > section {
      @include position(absolute, 0rem 0rem 0rem 0rem);

      > header {
        @include header;

        + div {
          @include position(absolute, 0rem 0rem 0rem 0rem);
          overflow-y: auto;
        }
      }
    }
  }
}

aside {
  @include position(absolute, 0rem 100% 0rem null);
  width: $sidebar-width;
}

#show-sidebar {
  display: none;

  &:checked ~ .container-inner {
    @include transform(translateX($sidebar-width));

    .sidebar-scrim {
      opacity: .5;
      pointer-events: auto;
    }

    aside {
      box-shadow: 0 0 1rem rgba(black, .15);
    }
  }
}
