.team-members {
  .members {
    @include action-list;
    margin: 0;
  }

  li.member {
    a i {
      @include flex(0 0 2.5rem);
      width: 2.5rem;
      height: 2.5rem;
      margin: .5rem 1rem;
      background: $action-color;
      color: rgba(white, $secondary-opacity);
      border-radius: 50%;
      padding: .5rem;
      line-height: 1.5rem;
      text-align: center;
      vertical-align: middle;
      font-style: normal;
      font-size: 1.25rem;
      font-weight: 300;
    }

    .name {
      font-size: 1rem;
    }
  }
}

.invited.members {
  .member {
    @include display(flex);
    @include flex-direction(row);
    margin: 0 0 .5rem;

    i {
      margin: .5rem 2rem .5rem 0rem;
    }

    span {
      display: block;
    }

    .name {
      font-weight: bold;
      line-height: 1.5rem;
    }

    .email {
      font-size: $small-font-size;
      line-height: 1rem;
      color: $secondary-font-color;
    }

    &.successful i::after {
      content: "done";
      color: $green;
    }

    &.failed i::after {
      content: "clear";
      color: $red;
    }

    .error {
      color: $red;
      font-size: $small-font-size;
      line-height: 1rem;
    }
  }
}

.team-member {
  > header {
    @include flex-basis(10rem !important);

    h2 {
      text-align: left !important;
      margin-left: 1.25rem !important;
      @include align-self(flex-end);
    }
  }
}
