@mixin base-transition($property) {
  @include transition-property($property);
  @include transition-duration($base-duration);
  @include transition-timing-function($base-timing);
}

@mixin scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin old-style-numbers {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
